<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1.0">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <title>Blacklisted</title>
</head>
<body>
<h1>Your creator account has been BLACKLISTED</h1>
<h2><i>Contact the administrator to restore account</i></h2>
</br>
</br>
<a href="/home" class="btn btn-outline-secondary">Back to Home Page</a>
</body>
</html>